doctype html
html
  head
    title feed_category
    meta(content='charset=utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js')
    script(src='/js/common.js')
    script(src='/js/feed/category.js')

    link(href='/css/header.css', rel='stylesheet')
    link(href='/css/feed/category.css', rel='stylesheet')
    link(href='/css/onoffswitch.css', rel='stylesheet')

  body
    div.header
      include ../header.jade
    div.container
      h1 Feed Category Management
      div.filter-section
        div.filter-country-subsection Country:
          include ../component/select-loc.jade
        div.filter-mtype-subsection MType:
          include ../component/select-mtype.jade
        div.filter-keyword-subsection Keyword:
          input(type='search')
        button#btn-search Search
      div.function-section
        button#btn-sortmode Sorting Mode
        button#btn-sortmode-ok OK/Submit
        button#btn-sortmode-cancel Cancel
      div.paging-section
      div.result-section
        div.title-subsection
          div.status-title-block Status
          div.sort-title-block Order
          div.id-title-block ID
          div.country-title-block country
          div.mtype-title-block MType
          div.display-title-block DisplayWord
          div.search-title-block SearchWord
          div.lastUpdateTime-title-block Timestamp
          div.editor-title-block Editor
          div.control-title-block Control
        div.cell-subsection
          each item in data
            div.cell(id='#{item.id}')
              div.status-block
                if item.status==1
                  div.onoffswitch
                    input.onoffswitch-checkbox(type='checkbox' name='onoffswitch' id='#{item.id}-onoffswitch' fid='#{item.id}' checked)
                    label.onoffswitch-label(for='#{item.id}-onoffswitch')
                      span.onoffswitch-inner
                      span.onoffswitch-switch
                else if item.status==0
                  div.onoffswitch
                    input.onoffswitch-checkbox(type='checkbox' name='onoffswitch' id='#{item.id}-onoffswitch' fid='#{item.id}')
                    label.onoffswitch-label(for='#{item.id}-onoffswitch')
                      span.onoffswitch-inner
                      span.onoffswitch-switch
              div.sort-block
                span.handle
                  img(src='../../img/dragableHandle_18.png')
                span.onum #{item.sort}
              div.id-block #{item.id}
              div.country-block #{item.loc}
              div.country-edit-block
                include ../component/select-loc.jade
              div.mtype-block #{item.mType}
              div.mtype-edit-block
                include ../component/select-mtype.jade
              div.display-block
                table
                  tr
                    td
                      | English
                    td
                      div.display-en #{item.displayValue.en}
                  tr
                    td
                      | Japanese
                    td
                      div.display-ja #{item.displayValue.ja}
                  tr
                    td
                      | Trad. Chinese
                    td
                      div.display-zh-TW #{item.displayValue['zh-TW']}
              div.display-edit-block
                table
                  tr
                    td
                      | English
                    td
                      div.display-en
                        input.display-en(type='text', style:'display:inline-block;')
                  tr
                    td
                      | Japanese
                    td
                      div.display-ja
                        input.display-ja(type='text')
                  tr
                    td
                      | Trad. Chinese
                    td
                      div.display-zh-TW
                        input.display-zh-TW(type='text')
              div.search-block
                table
                  tr
                    td
                      | English
                    td
                      div.search-en #{item.searchValue.en}
                  tr
                    td
                      | Japanese
                    td
                      div.search-ja #{item.searchValue.ja}
                  tr
                    td
                      | Trad.Chinese
                    td
                      div.search-zh-TW #{item.searchValue['zh-TW']}
              div.search-edit-block
                table
                  tr
                    td
                      | English
                    td
                      div.search-en
                        input.search-en(type='text')
                  tr
                    td
                      | Japanese
                    td
                      div.search-ja
                        input.search-ja(type='text')
                  tr
                    td
                      | Trad.Chinses
                    td
                      div.search-zh-TW
                        input.search-zh-TW(type='text')
              div.lastUpdateTime-block #{item.lastUpdateTime}
              div.editor-block #{item.editor}
              div.control-block
                a.editLink(href='#') Edit
                br
                a.removeLink(href='#') Remove
              div.control-edit-block
                a.saveLink(href='#') Save
                br
                a.cancelLink(href='#') Cancel
      div.result-sortingmode-section
