extends ../import/_layout.jade

block content
  script(src='/js/feed/ContentProviderManagement.js')
  link(href='/css/feed/ContentProviderManagement.css', rel='stylesheet')

  h1 Content Provider Management
  div.filter-section
    div.filter-country-subsection Country
      include ../component/select-loc.jade
    div.filter-lang-subsection Language
      include ../component/select-lang.jade
    div.filter-keyword-subsection Keyword
      input(type="search")
    button#btn-search Search
  div.function-section
    button#btn-sandbox Add Provider Sandbox
  div.paging-section
    div#pagevar-block(page=page, pagesize=pagesize, startNum=startNum, endNum=endNum, hit=hit, style='display: none;')
    div.page-text-block 第 #{startNum}-#{endNum} 列 (共有 #{hit} 列)
    div.page-change-block
      div.prepge#prepge
      div.nxtpge#nxtpge
  div.result-section
    div.title-subsection
      div.status-title-block Status
      div.url-title-block URL
      div.name-title-block Name
      div.loc-title-block Country
      div.lang-title-block Language
      div.ttl-title-block TTL
      div.autoAnnounce-title-block AutoAnnounce
      div.control-title-block Control
    div.cell-subsection
      each item in data
        div.cell(id='#{item.id}')
          div.status-block
            if item.status==1
              div.onoffswitch
                input.onoffswitch-checkbox(type='checkbox' name='onoffswitch' id='#{item.id}-onoffswitch' fid='#{item.id}' checked)
                label.onoffswitch-label(for='#{item.id}-onoffswitch')
                  span.onoffswitch-inner
                  span.onoffswitch-switch
            else if item.status==0
              div.onoffswitch
                input.onoffswitch-checkbox(type='checkbox' name='onoffswitch' id='#{item.id}-onoffswitch' fid='#{item.id}')
                label.onoffswitch-label(for='#{item.id}-onoffswitch')
                  span.onoffswitch-inner
                  span.onoffswitch-switch
          div.url-block #{item.url}
          div.url-edit-block
            input(type='text')
          div.name-block #{item.name}
          div.name-edit-block
            input(type='text')
          div.loc-block #{item.loc}
          div.loc-edit-block
            include ../component/select-loc.jade
          div.lang-block #{item.lang}
          div.lang-edit-block
            include ../component/select-lang.jade
          div.ttl-block #{item.ttl}
          div.ttl-edit-block
            input(type='number' min=0 max=90)
          div.autoAnnounce-block #{item.autoAnnounce}
          div.autoAnnounce-edit-block
            include ../component/select-01.jade
          div.control-block
            a.editLink(href='#') Edit
            br
            a.removeLink(href='#') Remove
          div.control-edit-block
            a.saveLink(href='#') Save
            br
            a.cancelLink(href='#') Cancel
